//Core documentation styles
.documentation
{
  //Colors blocks
  &-colors
  {
    display: inline-block;
    width: 130px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}