<!-- Include header -->
<% include ../_layouts/_header.ejs %>

<!-- Title -->
<title>siimple - Page not found</title>

<!-- Main content -->
<div class="website-main">

</div>

<!-- Include footer -->
<% include ../_layouts/_footer.ejs %>
