<!-- Include header -->
<% include ../_layouts/_header.ejs %>

<!-- Core style -->
<link rel="stylesheet" type="text/css" href="/css/core.css">

<!-- Title -->
<title>Siimple documentation</title>

<!-- Header -->
<div class="website-header website-header--blue">
  <!-- Menu -->
  <% include ../_layouts/_menu.ejs %>
  <!-- Title -->
  <div class="website-header-title">Siimple documentation</div>
  <!-- Detail -->
  <div class="website-header-detail">Documentation for version <b>v2.0.0</b></div>
</div>

<!-- Main content -->
<div class="website-main">
<p class="siimple-p">
  <b>Siimple</b> provides a small, light, responsive and clean framework, build in ~250 lines of code.
  Also, the framework comes with a ~6KB minimized version.
</p>
<!-- Getting started -->
<div class="siimple-h2">Getting started</div>
<p class="siimple-p">
  You must include the <b>Siimple CSS</b> library in each HTML page of your project.
</p>
<!-- Hosted description -->
<div class="siimple-h4">Hosted</div>
<p class="siimple-p">
  Just add the following <code class="siimple-code">&lt;link&gt;</code> element in your HTML file:
</p>
<pre class="siimple-pre">&lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/siimple/VERSION/siimple.min.css"&gt;</pre>
<p class="siimple-p">
  Replace <code class="siimple-code">VERSION</code> with the latest version of <b>Siimple</b>. You can check all available versions
  <a href="https://www.jsdelivr.com/projects/siimple" class="siimple-a" target="_blank">on the jsDelivr website</a>.
</p>
<!-- Dowmload from github -->
<div class="siimple-h4">Download from GitHub</div>
<p class="siimple-p">
  You can visit the repository hosted on <a href="https://github.com/siimple/siimple" class="siimple-link" target="_blank">GitHub</a> and download the
  latest version from the <a href="https://github.com/siimple/siimple/releases" class="siimple-link" target="_blank">releases page</a>.
  You can find the CSS files on the <code class="siimple-code">./dist/</code> folder, so you can copy them to your project.
</p>
<!-- Install with npm or bower -->
<div class="siimple-h4">Install using NPM or Bower</div>
<p class="siimple-p">
  <b>Siimple</b> is also hosted on <a href="https://www.npmjs.com/package/siimple" class="siimple-a" target="_blank">npm</a> and
  <a href="http://bower.io" class="siimple-a" target="_blank">bower</a>, so you can use the npm's CLI to install the framework on your project
  running the following command:
</p>
<pre class="siimple-pre">npm install siimple --save</pre>
<p class="siimple-p">Or using the bower's CLI running the following command: </p>
<pre class="siimple-pre">bower install siimple</pre>

<!-- Spearator -->
<br><br>

<!-- Reference -->
<div class="siimple-h2">Reference</div>
<p class="siimple-p">
  On <b>v2.0.0</b>, each element of the Siimple library comes with the word <code class="siimple-code">siimple</code> and followed
  by one dash and the element name, ie <code class="siimple-code">siimple-[ELEMENT]</code>, and each attribute
  (like colors, disabled...) comes with double dash and followed by the attribute name, ie
  <code class="siimple-code">siimple-[ELEMENT]--[ATTRIBUTE]</code>.
</p>
<p class="siimple-p">
  For example, if you want to create a blue button, you must add <code class="siimple-code">siimple-btn</code> and
  <code class="siimple-code">siimple-btn--blue</code> class to your <code class="siimple-code">div</code> element:
</p>
<div align="center" class="core-example">
  <div class="siimple-btn siimple-btn--blue">My button</div>
</div>
<pre class="siimple-pre">&lt;div class="siimple-btn siimple-btn--blue"&gt;My button&lt;/div&gt;</pre>

<!-- Colors -->
<div class="siimple-h3">Colors</div>
<!-- Colors boxes -->
<div class="core-example">
  <div class="core-colors siimple-bg--navy siimple-color--white">Navy #57607c</div>
  <div class="core-colors siimple-bg--green siimple-color--white">Green #1add9f</div>
  <div class="core-colors siimple-bg--teal siimple-color--white">Teal #18d2ba</div>
  <div class="core-colors siimple-bg--blue siimple-color--white">Blue #4c98f2</div>
  <div class="core-colors siimple-bg--purple siimple-color--white">Purple #b490f5</div>
  <div class="core-colors siimple-bg--pink siimple-color--white">Pink #f45b93</div>
  <div class="core-colors siimple-bg--red siimple-color--white">Red #ff1a4f</div>
  <div class="core-colors siimple-bg--orange siimple-color--white">Orange #ff8463</div>
  <div class="core-colors siimple-bg--yellow siimple-color--white">Yellow #ffc107</div>
  <div class="core-colors siimple-bg--grey siimple-color--navy">Grey #e9effb</div>
</div>
<!-- Colors description -->
<p class="siimple-p">
  Use the <code class="siimple-code">siimple-color--[COLOR]</code> class to set the text color, or the
  <code class="siimple-code">siimple-bg--[COLOR]</code> class to change the background color property.
</p>

<!-- Typography -->
<div class="siimple-h3">Typography</div>
<p class="siimple-p">
  <b>Siimple</b> provides you text styles for <a class="siimple-link">links</a> using the <code class="siimple-code">siimple-link</code>
  class and <small class="siimple-small">small text</small> using the <code class="siimple-code">siimple-small</code> class.
  <b>Siimple</b> uses <a class="siimple-a" href="https://fonts.google.com/specimen/Montserrat" target="_blank">Montserrat</a> as
  the default font family, imported from <b>Google Fonts</b>:
</p>
<pre class="siimple-pre">&lt;link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"&gt;</pre>
<!-- Paragraph -->
<div class="siimple-h5">Paragraph</div>
<p class="siimple-p">
  You can create a paragraph by adding the <code class="siimple-code">siimple-p</code> or <code class="siimple-code">siimple-paragraph</code>
  class to your <code class="siimple-code">div</code> or <code class="siimple-code">p</code> element.
</p>
<!-- Paragraph demo -->
<div class="core-example">
  <p class="siimple-p">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>
<!-- Paragraph code -->
<pre class="siimple-pre">&lt;p class="siimple-p"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing...&lt;/p&gt;</pre>
<!-- Code -->
<div class="siimple-h5">Code elements</div>
<p class="siimple-p">
  You can use the <code class="siimple-code">siimple-code</code> class adding a piece of code inline, or the <code class="siimple-code">siimple-pre</code>
  class to display code in blocks. All the code examples on this reference are displayed using a <code class="siimple-code">pre</code> tag
  with the <code class="siimple-code">siimple-pre</code> class.
</p>
<!-- Headings -->
<div class="siimple-h5">Headings</div>
<p class="siimple-p">
  Use <code class="siimple-code">siimple-heading[X]</code> or <code class="siimple-code">siimple-h[X]</code> for each heading style,
  where [X] is a number from 1 to 6.
</p>
<div class="siimple-h1">Heading 1</div>
<pre class="siimple-pre">&lt;div class="siimple-h1"&gt;Heading 1&lt;/div&gt;</pre>
<div class="siimple-h2">Heading 2</div>
<pre class="siimple-pre">&lt;div class="siimple-h2"&gt;Heading 2&lt;/div&gt;</pre>
<div class="siimple-h3">Heading 3</div>
<pre class="siimple-pre">&lt;div class="siimple-h3"&gt;Heading 3&lt;/div&gt;</pre>
<div class="siimple-h4">Heading 4</div>
<pre class="siimple-pre">&lt;div class="siimple-h4"&gt;Heading 4&lt;/div&gt;</pre>
<div class="siimple-h5">Heading 5</div>
<pre class="siimple-pre">&lt;div class="siimple-h5"&gt;Heading 5&lt;/div&gt;</pre>
<div class="siimple-h6">Heading 6</div>
<pre class="siimple-pre">&lt;div class="siimple-h6"&gt;Heading 6&lt;/div&gt;</pre>
<!-- Blockquotes -->
<div class="siimple-h5">Blockquotes</div>
<p class="siimple-p">Use <code class="siimple-code">siimple-blockquote</code> class to style your blockquotes:</p>
<!-- Blockquotes example -->
<div class="core-example">
  <blockquote class="siimple-blockquote">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </blockquote>
</div>
<!-- Blockquote code -->
<pre class="siimple-pre">&lt;blockquote class="siimple-blockquote"&gt;Lorem ipsum dolor sit amet, consectetur...&lt;/blockquote&gt;</pre>

<!-- Buttons -->
<div class="siimple-h3">Buttons</div>
<!-- Normal buttons -->
<p class="siimple-p">
  If you want a button style, you must add the <code class="siimple-code">siimple-btn</code> class. Then, you can select the button
  color by adding the <code class="siimple-code">siimple-btn--[COLOR]</code>, where COLOR is your desired color.
</p>
<!-- Button examples -->
<div class="core-example" align="center">
  <div class="siimple-btn siimple-btn--navy">My button</div>
  <div class="siimple-btn siimple-btn--green">My button</div>
  <div class="siimple-btn siimple-btn--teal">My button</div>
  <div class="siimple-btn siimple-btn--blue">My button</div>
  <div class="siimple-btn siimple-btn--purple">My button</div>
  <div class="siimple-btn siimple-btn--pink">My button</div>
  <div class="siimple-btn siimple-btn--red">My button</div>
  <div class="siimple-btn siimple-btn--orange">My button</div>
  <div class="siimple-btn siimple-btn--yellow">My button</div>
  <div class="siimple-btn siimple-btn--grey">My button</div>
</div>
<!-- Buttons code -->
<pre class="siimple-pre">
&lt;div class="siimple-btn siimple-btn--navy"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--green"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--teal"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--blue"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--purple"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--pink"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--red"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--orange"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--yellow"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--grey"&gt;My button&lt;/div&gt;
</pre>
<!-- Disabled buttons -->
<p class="siimple-p">Also, you can create a disabled button adding the <code class="siimple-code">siimple-btn--disabled</code> class:</p>
<!-- Disabled button example -->
<div class="core-example" align="center">
  <div class="siimple-btn siimple-btn--disabled">Disabled button</div>
</div>
<!-- Disabled button code -->
<pre class="siimple-pre">&lt;div class="siimple-btn siimple-btn--disabled"&gt;Disabled button&lt;/div&gt;</pre>

<!-- Alerts -->
<div class="siimple-h3">Alerts</div>
<p class="siimple-p">
  Add <code class="siimple-code">siimple-alert</code> to transform a <code class="siimple-code">div</code> element to an alert. Also,
  you can specify the alert type by adding <code class="siimple-code">siimple-alert--[TYPE]</code>, there type can be <b>info</b>,
  <b>done</b>, <b>warning</b> or <b>error</b>.
</p>
<!-- Alert example -->
<div class="core-example">
  <div class="siimple-alert">Default alert message</div>
  <div class="siimple-alert siimple-alert--info">Info alert message</div>
  <div class="siimple-alert siimple-alert--done">Done alert message</div>
  <div class="siimple-alert siimple-alert--warning">Warning alert message</div>
  <div class="siimple-alert siimple-alert--error">Error alert message</div>
</div>
<!-- Alert code -->
<pre class="siimple-pre">
&lt;div class="siimple-alert"&gt;Default alert message&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--info"&gt;Info alert message&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--done"&gt;Done alert message&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--warning"&gt;Warning alert message&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--error"&gt;Error alert message&lt;/div&gt;
</pre>

<!-- Form -->
<div class="siimple-h3">Form</div>
<!-- Input badges -->
<div class="siimple-h5">Input</div>
<p class="siimple-p">
  Add the <code class="siimple-code">siimple-input</code> class to your text-based <code class="siimple-code">input</code>
  fields (text, password and submit types) or <code class="siimple-code">select</code> fields.
</p>
<!-- Input example -->
<div class="core-example" align="center">
  <label class="siimple-label">Type something: </label>
  <input type="text" class="siimple-input" placeholder="Type here your text">
  <select class="siimple-input">
    <option value="value1">Option 1</option>
    <option value="value2">Option 2</option>
    <option value="value3">Option 3</option>
  </select>
</div>
<!-- Input code -->
<pre class="siimple-pre">
&lt;label class="siimple-label"&gt;Type something: &lt;/label&gt;
&lt;input type="text" class="siimple-input" placeholder="Type here your text"&gt;
&lt;select class="siimple-input"&gt;
&nbsp;&nbsp;&lt;option value="value1"&gt;Option 1&lt;/option&gt;
&nbsp;&nbsp;&lt;option value="value2"&gt;Option 2&lt;/option&gt;
&nbsp;&nbsp;&lt;option value="value3"&gt;Option 3&lt;/option&gt;
&lt;/select&gt;
</pre>
<!-- Textarea -->
<div class="siimple-h5">Textarea</div>
<p class="siimple-p">
  Add the <code class="siimple-code">siimple-textarea</code> class to your <code class="siimple-code">textarea</code> fields:
</p>
<!-- Textarea example -->
<div class="core-example" align="center">
  <textarea class="siimple-textarea" rows="5" style="width:300px;">Type here your text</textarea>
</div>
<!-- Textarea code -->
<pre class="siimple-pre">&lt;textarea class="siimple-textarea"&gt;&lt;/textarea&gt;</pre>
<!-- Checkbox -->
<div class="siimple-h5">Checkbox</div>
<p class="siimple-p">
  For adding a checkbox element to your project, first you must create a <code class="siimple-code">div</code> with the class
  <code class="siimple-code">siimple-checkbox</code>. Inside your new <code class="siimple-code">div</code> element, create an
  <code class="siimple-code">input</code> with the attribute <code class="siimple-code">type="checkbox"</code>, and a
  <code class="siimple-code">label</code> bound to the previous <code class="siimple-code">input</code> element.
</p>
<!-- Checkbox example -->
<div class="core-example" align="center">
  <label class="siimple-label">Your checkbox:</label>
  <div class="siimple-checkbox">
    <input type="checkbox" value="1" id="myCheckbox" name="">
    <label for="myCheckbox"></label>
  </div>
</div>
<!-- Checkbox code -->
<pre class="siimple-pre">
&lt;label class="siimple-label"&gt;Your checkbox:&lt;/label&gt;
&lt;div class="siimple-checkbox"&gt;
  &lt;input type="checkbox" value="1" id="myCheckbox" name=""&gt;
  &lt;label for="myCheckbox"&gt;&lt;/label&gt;
&lt;/div&gt;
</pre>

<!-- Grid -->
<div class="siimple-h3">Grid</div>
<p class="siimple-p">
  <b>Siimple</b> uses a responsive grid with 12 columns. You must start the grid adding <code class="siimple-code">siimple-grid</code>.
  Then, for each row of your grid you must add <code class="siimple-code">siimple-grid-row</code>, and for each column you must add
  <code class="siimple-code">siimple-grid-col</code> and <code class="siimple-code">siimple-grid-col--[NUM]</code>, where [NUM] is
   a number from 1 to 12.
</p>
<!-- Grid example -->
<div class="core-example">
  <div class="siimple-grid" align="center">
    <div class="siimple-grid-row">
      <div class="core-grid siimple-grid-col siimple-grid-col--12">TWELVE</div>
    </div>
    <div class="siimple-grid-row">
      <div class="core-grid siimple-grid-col siimple-grid-col--1">ONE</div>
      <div class="core-grid siimple-grid-col siimple-grid-col--11">ELEVEN</div>
    </div>
    <div class="siimple-grid-row">
      <div class="core-grid siimple-grid-col siimple-grid-col--2">TWO</div>
      <div class="core-grid siimple-grid-col siimple-grid-col--10">TEN</div>
    </div>
    <div class="siimple-grid-row">
      <div class="core-grid siimple-grid-col siimple-grid-col--3">THREE</div>
      <div class="core-grid siimple-grid-col siimple-grid-col--9">NINE</div>
    </div>
    <div class="siimple-grid-row">
      <div class="core-grid siimple-grid-col siimple-grid-col--4">FOUR</div>
      <div class="core-grid siimple-grid-col siimple-grid-col--8">EIGHT</div>
    </div>
    <div class="siimple-grid-row">
      <div class="core-grid siimple-grid-col siimple-grid-col--5">FIVE</div>
      <div class="core-grid siimple-grid-col siimple-grid-col--7">SEVEN</div>
    </div>
    <div class="siimple-grid-row">
      <div class="core-grid siimple-grid-col siimple-grid-col--6">SIX</div>
      <div class="core-grid siimple-grid-col siimple-grid-col--6">SIX</div>
    </div>
  </div>
</div>
<!-- Grid code -->
<pre class="siimple-pre">
&lt;div class="siimple-grid"&gt;
&nbsp;&nbsp;&lt;div class="siimple-grid-row"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="siimple-grid-col siimple-grid-col--12"&gt;TWELVE&lt;/div&gt;
&nbsp;&nbsp;&lt;/div&gt;
&nbsp;&nbsp;&lt;div class="siimple-grid-row"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="siimple-grid-col siimple-grid-col--1"&gt;ONE&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="siimple-grid-col siimple-grid-col--11"&gt;ELEVEN&lt;/div&gt;
&nbsp;&nbsp;&lt;/div&gt;
&nbsp;&nbsp;&lt;div class="siimple-grid-row"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="siimple-grid-col siimple-grid-col--2"&gt;TWO&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="siimple-grid-col siimple-grid-col--10"&gt;TEN&lt;/div&gt;
&nbsp;&nbsp;&lt;/div&gt;
&lt;/div&gt;
</pre>

<!-- Close main -->
</div>

<!-- Include footer -->
<% include ../_layouts/_footer.ejs %>
