<!-- Include header -->
<% include ../_layouts/_header.ejs %>

<!-- Style -->
<link rel="stylesheet" type="text/css" href="/css/index.css">

<!-- Title -->
<title>siimple - Minimal CSS framework for flat and clean websites</title>
<!-- Header -->
<div class="website-header website-header--blue">
  <!-- Menu -->
  <% include ../_layouts/_menu.ejs %>
  <!-- Spaces -->
  <br><br><br>
  <!-- Title -->
  <div class="website-header-title" align="center">siimple</div>
  <!-- Detail -->
  <div class="website-header-detail" align="center">
    Minimal CSS framework for flat and clean designs.
  </div>
  <!-- Spaces -->
  <br><br><br><br>
</div>
<!-- Main content -->
<div class="website-main">
  <!-- Projects -->
  <div align="center">
    <!-- Projects title -->
    <div class="siimple-h2">Projects</div>
    <!-- Grid -->
    <div class="siimple-grid">
      <div class="siimple-grid-row">
        <!-- Siimple project -->
        <div class="siimple-grid-col siimple-grid-col--4">
          <a href="/docs" class="website-index-projects-logo" style="background-image:url(/img/logo_null.png);"></a>
          <a href="/docs" class="siimple-h4">siimple</a>
          <div class="siimple-p">Minimal CSS framework for flat and clean designs.</div>
          <div class="siimple-small">Latest version <b>v<%= pkg.siimple.version %></b></div>
        </div>
        <!-- Siimple colors project -->
        <div class="siimple-grid-col siimple-grid-col--4">
          <a href="/colors" class="website-index-projects-logo" style="background-image:url(/img/logo_null.png);"></a>
          <a href="/colors" class="siimple-h4">siimple-colors</a>
          <div class="siimple-p">Minimal and open source color palette for UI design.</div>
          <div class="siimple-small">Latest version <b>v<%= pkg.colors.version %></b></div>
        </div>
        <!-- Siimple layout project -->
        <div class="siimple-grid-col siimple-grid-col--4">
          <a href="#" class="website-index-projects-logo" style="background-image:url(/img/logo_null.png);"></a>
          <a href="#" class="siimple-h4">siimple-layout</a>
          <div class="siimple-p">The siimple layout module.</div>
          <div class="siimple-small"><b>Coming soon</b></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Include footer -->
<% include ../_layouts/_footer.ejs %>
