<!-- Include header -->
<% include ../_layouts/_header.ejs %>

<!-- Title -->
<title>Siimple - Minimal CSS framework for flat and clean websites</title>
<!-- Header -->
<div class="website-header website-header--blue">
  <!-- Menu -->
  <% include ../_layouts/_menu.ejs %>
  <!-- Title -->
  <div class="website-header-title">siimple 2.0.0</div>
  <!-- Detail -->
  <div class="website-header-detail"></div>
</div>
<!-- Main content -->
<div class="website-main">
</div>

<!-- Include footer -->
<% include ../_layouts/_footer.ejs %>
