//Import dependencies
@import "siimple-colors/scss/_all.scss";

//Documentation example variables
$documentation-example-border-size: 2px;
$documentation-example-border-radius: 5px;
$documentation-example-padding: 10px;
$documentation-example-margin: 10px;

//Documentation class
.documentation
{
  //Documentation example
  &-example
  {
    display: block;
    width: calc(100% - 2 * #{$documentation-example-padding} - 2 * #{$documentation-example-border-size});
    border-radius: $documentation-example-border-radius;
    border: $documentation-example-border-size solid $siimple-grey-2;
    padding: $documentation-example-padding;
    margin-top: 0px;
    margin-bottom: $documentation-example-margin;
  }

  //Documentation logo
  &-logo
  {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
  }
}