/* Body style */
body
{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--siimple-navy);
  font-weight: normal;
  margin: 0px !important;
  padding: 0px !important;
}

/* Jumbotron styles */
.jumbotron-gradient
{
  background: linear-gradient(var(--siimple-blue-3), var(--siimple-teal));
}
.jumbotron-logo
{
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center center;
  margin-bottom: 20px;
}

/* Contribute box styles */
.contribute
{
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Footer styles */
.footer-heart:after
{
  content: "\2764";
  color: var(--siimple-red);
}
