<div class="siimple-navbar siimple-navbar--large siimple-navbar--primary sw-navbar">
    <div class="siimple--float-left">
        <a href="{{ page.root }}index.html" class="siimple-navbar-title">{{ site.title }}</a>
    </div>
    <div class="siimple--float-right siimple--d-sm-none">
        {% for social_id in site.navbar_social %}
        {% assign social = site.data.social[social_id] %}
        <a href="{{ social.url }}" class="sw-navbar-social" target="_blank" style="background-image:url('{{ page.root }}{{ social.image }}');"></a>
        {% endfor %}
    </div>
</div>

