//Contribute class
.sw-contribute {
    display: block;
    background-color: $siimple-blue-dark;
    color: $siimple-white;
    padding-top: 60px;
    padding-bottom: 90px;
    //Contribute image
    &-image {
        display: block;
        width: 300px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        background-image: url('./images/contribute.svg');
        background-size: 300px 150px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    //Contribute title
    &-title {
        display: block;
        font-size: 35px;
        color: $siimple-white;
        margin-bottom: 15px;
    }
    //Description
    &-description {
        display: block;
        font-size: 18px;
        color: $siimple-blue-extra-light;
        line-height: 26px;
        margin-bottom: 25px;
    }
    //Contribute button
    &-btn {
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        color: $siimple-blue-dark;
        background-color: $siimple-white;
        border-radius: 5px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

