.sw-features {
    background-color: $siimple-mint;
    padding-top: 90px !important;
    padding-bottom: 100px !important;
    color: $siimple-white;
    //Feautres item
    &-item {
        min-height: 220px;
        margin-bottom: 30px;
        border-radius: 5px;
        transition: background-color 0.3s;
        &:hover {
            background-color: $siimple-mint-dark;
        }
        //Item image 
        &-image {
            display: block;
            width: 100px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
        }
        //Item title 
        &-title {
            color: $siimple-white;
            font-size: 22px;
            line-height: 22px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        //Item description 
        &-description {
            font-size: 16px;
            line-height: 23px;
            text-align: center;
        }
    }
    //Features title
    &-title {
        font-size: 40px;
        line-height: 50px;
        //margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
        //font-weight: bold;
    }
    //Features subtitle
    &-subtitle {
        font-size: 30px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;
        //font-weight: bold;
    }
    //Features button
    &-btn {
        display: inline-block;
        font-size: 20px;
        //font-weight: bold;
        text-decoration: none !important;
        line-height: 24px;
        background-color: $siimple-white;
        color: $siimple-mint;
        border-radius: 5px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 10px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover { 
            opacity: 0.7; 
            color: $siimple-mint-dark; 
        }
    }
}

