//Footer class
.sw-footer {
    display: block;
    //background-color: $siimple-navy;
    //color: $siimple-white;
    //Footer group
    &-group {
        display: block;
        text-transform: uppercase;
        color: siimple-default-color("dark", "light");
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    //Footer link
    &-link {
        //Link description
        &-description {
            display: block;
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 3px;
            color: siimple-default-color("dark", "light") !important;
        }
    }
}

