.docs-reviews {
    padding-top: 20px;
    padding-bottom: 0px;
    //Column
    &-column {
        min-height: 190px;
        position: relative;
    }
    //Quote
    &-quote {
        font-size: 18px;
        font-weight: bold;
        color: $siimple-navy-extra-dark;
    }
    //Content
    &-content {
        opacity: 0.8;
        //margin-bottom: 0px !important;
        //padding-right: 10px;
    }
    //Button 
    &-btn {
        position: absolute;
        bottom: 0px;
    }
}
