.sw-section {
    display: block;
    //background: $siimple-grey-light;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    //Section colors
    &--white {
        color: $siimple-navy;
        background-color: $siimple-default-white;
    }
    &--grey {
        color: $siimple-navy;
        background-color: $siimple-grey-light;
    }
    //Section image
    &-image {
        display: block;
        width: 300px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        //background-image: url('../images/contribute.svg');
        background-size: 300px 150px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    //Section title
    &-title {
        display: block;
        font-size: 35px;
        margin-top: 15px;
    }
    //Description
    &-description {
        display: block;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 20px;
        opacity: 0.8;
    }
}

