.sw-section {
    display: block;
    //background: $siimple-grey-light;
    color: $siimple-navy;
    padding-top: 40px;
    padding-bottom: 70px;
    //Section colors
    &--white {
        background-color: $siimple-default-white;
    }
    &--grey {
        background-color: $siimple-grey-light;
    }
    //Section image
    &-image {
        display: block;
        width: 300px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        //background-image: url('../images/contribute.svg');
        background-size: 300px 150px;
        background-position: center center;
        background-repeat: no-repeat;
        //Images
        &--cookies {
            background-image: url("../images/cookies.svg");
        }
    }
    //Section title
    &-title {
        display: block;
        font-size: 35px;
        margin-top: 15px;
    }
    //Description
    &-description {
        display: block;
        font-size: 18px;
        //color: $siimple-blue-extra-light;
        line-height: 26px;
        margin-top: 10px;
        opacity: 0.8;
    }
    //Contribute button
    &-btn {
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        color: $siimple-white;
        //background-color: $siimple-blue;
        border-radius: 5px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

