//Welcome class
.sw-welcome {
    display: block;
    background: linear-gradient(135deg, $siimple-mint-dark 0%,$siimple-blue-dark 100%);
    color: $siimple-white;
    //Welcome jumbotron
    &-jumbotron {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    //Welcome container
    &-container {
        overflow: hidden;
        background-color: transparent !important;
        background-image: url('./logo.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 450px 450px;
        padding-top: 60px;
        padding-bottom: 60px;
        //opacity: 0.6;
    }
    //Welcome title
    &-title {
        font-size: 70px;
        line-height: 90px;
        color: $siimple-white;
    }
}

