//Welcome class
.sw-welcome {
    display: block;
    //padding-top: 100px;
    //padding-bottom: 100px;
    //background: linear-gradient(135deg, $siimple-mint-dark 0%,$siimple-blue-dark 100%);
    background-color: siimple-color("grey");
    color: siimple-color("blue");
    //Welcome container
    &-container {
        overflow: hidden;
        //background-color: transparent !important;
        //background-image: url('../images/logo.png');
        //background-repeat: no-repeat;
        //background-position: center right;
        //background-size: 450px 450px;
        padding-top: 60px;
        padding-bottom: 60px;
        //opacity: 0.6;
        //@media (max-width: 750px) {
        //    background-image:none;
        //}
    }
    //Welcome title 1
    &-title1 {
        font-size: 45px;
        line-height: 60px;
    }
    //Welcome title 2
    &-title2 {
        font-size: 70px;
        line-height: 90px;
    }
    //Welcome buttons
    &-buttons {
        margin-top: 30px;
    }
    //Detail
    &-detail {
        margin-top: 10px;
        font-size: 14px;
        line-height: 23px;
    }
}

