{% set url_repo = "https://github.com/siimple" %}
{% set url_contribute = "https://github.com/siimple/siimple/blob/master/CONTRIBUTING.md" %}
{% set url_twitter = "https://twitter.com/siimplecss" %}

<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Descripcion -->
<meta name="description" content="Minimal CSS framework for flat and clean designs.">
<meta name="author" content="Josemi Juanes">
<meta name="keywords" content="siimple, css, ui, flat, clean, websites, minimal, scss, sass, jmjuanes">

<!-- Styles -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
<link rel="stylesheet" type="text/css" href="/css/siimple.css">
<link rel="stylesheet" type="text/css" href="/css/siimple-colors.css">
<link rel="stylesheet" type="text/css" href="/css/siimple-layout.css">
<link rel="stylesheet" type="text/css" href="/css/plume.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/documentation.css">

<!-- Scripts -->
<!-- <script type="text/javascript" src="/js/ga.js"></script> -->
<script type="text/javascript" src="/js/plume.js"></script>

<!-- Header -->
{% block header %}{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}
