{% extends "base.html" %}

{% block content %}
<div class="docs docs--js">
  <div class="docs-sidebar">
    <div class="docs-menu">
      {% block documentation_menu %}{% endblock %}
    </div>
  </div>
  <div class="docs-navbar">
    <div class="docs-navbar-menu"><span></span></div>
  </div>
  <div class="docs-content">
    {% block documentation_content %}{% endblock %}
  </div>
  <div class="docs-navigation">
    {% block documentation_navigation %}{% endblock %}
  </div>
</div>
{% endblock %}
