{% extends "base.html" %}

{% block content %}
<div class="siimple-docs siimple-docs--js">
  <div class="siimple-docs-sidebar">
    <div class="siimple-docs-menu">
      {% block documentation_menu %}{% endblock %}
    </div>
  </div>
  <div class="siimple-docs-navbar">
    <div class="siimple-docs-navbar-menu"><span></span></div>
  </div>
  <div class="siimple-docs-content">
    {% block documentation_content %}{% endblock %}
  </div>
  <div class="siimple-docs-navigation">
    {% block documentation_navigation %}{% endblock %}
  </div>
</div>
{% endblock %}
