{% extends "base.html" %}

{% block content %}
<!-- Main layout -->
<div class="siimple-layout">
  <!-- Navigation bar -->
  <div class="siimple-navbar siimple-navbar--blue siimple-navbar--large">
    <!-- Logo container -->
    <div class="siimple-layout---left">
      <a href="/" class="siimple-navbar-title">siimple</a>
    </div>
    <!-- Menu container -->
    <div class="siimple-layout---right">
      <a href="{{ url_twitter }}" class="siimple-navbar-link" target="_blank">@siimplecss</a>
    </div>
  </div>
  <!-- Page content -->
  {% block page_content %}{% endblock %}
  <!-- Contribute block -->
  <div class="siimple-content siimple-content--large">
    <div class="contribute" align="center">
      <div class="siimple-h3">Want to contribute?</div>
      <div class="siimple-p">
        If you found a bug, have any questions or want to contribute, please feel free to open an issue or send a pull
        request to our repository on <a href="{{ url_repo }}" class="siimple-a" target="_blank">GitHub</a>.
        We appreciate each review or pull request for improving the <b>siimple</b> framework.
      </div>
      <div align="center">
        <a href="{{ url_repo }}" class="siimple-btn siimple-btn--grey" target="_blank">GitHub Organization</a>
        <a href="{{ url_contribute }}" class="siimple-btn siimple-btn--grey" target="_blank">Contribution guidelines</a>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="siimple-footer siimple-footer--grey siimple-footer--large footer" align="center">
    <div class="siimple-p">Made with <span class="footer-heart"></span> using <b>siimple</b></div>
    <div class="siimple-small footer-cookies">
      This website uses cookies to ensure you get the best experience on our website.
      By continuing to browse the site, you are agreeing to our use of cookies.
    </div>
  </div>
</div>
{% endblock %}
