<div class="siimple-h3">Alerts</div>
<p class="siimple-p">
  Add <code class="siimple-code">siimple-alert</code> to transform a <code class="siimple-code">div</code> element to an alert. Also,
  you can specify the alert type by adding <code class="siimple-code">siimple-alert--[TYPE]</code>, there type can be <b>info</b>,
  <b>done</b>, <b>warning</b> or <b>error</b>.
</p>
<!-- Alert example -->
<div class="website-example">
  <div class="siimple-alert">Default alert message</div>
  <div class="siimple-alert siimple-alert--info">Info alert message</div>
  <div class="siimple-alert siimple-alert--done">Done alert message</div>
  <div class="siimple-alert siimple-alert--warning">Warning alert message</div>
  <div class="siimple-alert siimple-alert--error">Error alert message</div>
</div>
<!-- Alert code -->
<pre class="siimple-pre">
&lt;div class="siimple-alert"&gt;Default alert message&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--info"&gt;Info alert message&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--done"&gt;Done alert message&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--warning"&gt;Warning alert message&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--error"&gt;Error alert message&lt;/div&gt;
</pre>
