<div class="siimple-h3">Buttons</div>
<!-- Normal buttons -->
<p class="siimple-p">
  If you want a button style, you must add the <code class="siimple-code">siimple-btn</code> class. Then, you can select the button
  color by adding the <code class="siimple-code">siimple-btn--[COLOR]</code>, where COLOR is your desired color.
</p>
<!-- Button examples -->
<div class="website-example" align="center">
  <div class="siimple-btn siimple-btn--navy">My button</div>
  <div class="siimple-btn siimple-btn--green">My button</div>
  <div class="siimple-btn siimple-btn--teal">My button</div>
  <div class="siimple-btn siimple-btn--blue">My button</div>
  <div class="siimple-btn siimple-btn--purple">My button</div>
  <div class="siimple-btn siimple-btn--pink">My button</div>
  <div class="siimple-btn siimple-btn--red">My button</div>
  <div class="siimple-btn siimple-btn--orange">My button</div>
  <div class="siimple-btn siimple-btn--yellow">My button</div>
  <div class="siimple-btn siimple-btn--grey">My button</div>
</div>
<!-- Buttons code -->
<pre class="siimple-pre">
&lt;div class="siimple-btn siimple-btn--navy"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--green"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--teal"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--blue"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--purple"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--pink"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--red"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--orange"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--yellow"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--grey"&gt;My button&lt;/div&gt;
</pre>
<!-- Disabled buttons -->
<p class="siimple-p">Also, you can create a disabled button adding the <code class="siimple-code">siimple-btn--disabled</code> class:</p>
<!-- Disabled button example -->
<div class="website-example" align="center">
  <div class="siimple-btn siimple-btn--disabled">Disabled button</div>
</div>
<!-- Disabled button code -->
<pre class="siimple-pre">&lt;div class="siimple-btn siimple-btn--disabled"&gt;Disabled button&lt;/div&gt;</pre>
