<div class="siimple-h3">Colors</div>
<!-- Colors boxes -->
<div class="website-example">
  <div class="website-colors siimple-bg--navy siimple-color--white">Navy #57607c</div>
  <div class="website-colors siimple-bg--green siimple-color--white">Green #1add9f</div>
  <div class="website-colors siimple-bg--teal siimple-color--white">Teal #18d2ba</div>
  <div class="website-colors siimple-bg--blue siimple-color--white">Blue #4c98f2</div>
  <div class="website-colors siimple-bg--purple siimple-color--white">Purple #b490f5</div>
  <div class="website-colors siimple-bg--pink siimple-color--white">Pink #f45b93</div>
  <div class="website-colors siimple-bg--red siimple-color--white">Red #ff1a4f</div>
  <div class="website-colors siimple-bg--orange siimple-color--white">Orange #ff8463</div>
  <div class="website-colors siimple-bg--yellow siimple-color--white">Yellow #ffc107</div>
  <div class="website-colors siimple-bg--grey siimple-color--navy">Grey #e9effb</div>
</div>
<!-- Colors description -->
<p class="siimple-p">
  Use the <code class="siimple-code">siimple-color--[COLOR]</code> class to set the text color, or the
  <code class="siimple-code">siimple-bg--[COLOR]</code> class to change the background color property.
</p>
