<div class="siimple-h3">Grid</div>
<p class="siimple-p">
  <b>Siimple</b> uses a responsive grid with 12 columns. You must start the grid adding <code class="siimple-code">siimple-grid</code>.
  Then, for each row of your grid you must add <code class="siimple-code">siimple-grid-row</code>, and for each column you must add
  <code class="siimple-code">siimple-grid-col</code> and <code class="siimple-code">siimple-grid-col--[NUM]</code>, where [NUM] is
   a number from 1 to 12.
</p>
<!-- Grid example -->
<div class="website-example">
  <div class="siimple-grid" align="center">
    <div class="siimple-grid-row">
      <div class="website-grid siimple-grid-col siimple-grid-col--12">TWELVE</div>
    </div>
    <div class="siimple-grid-row">
      <div class="website-grid siimple-grid-col siimple-grid-col--1">ONE</div>
      <div class="website-grid siimple-grid-col siimple-grid-col--11">ELEVEN</div>
    </div>
    <div class="siimple-grid-row">
      <div class="website-grid siimple-grid-col siimple-grid-col--2">TWO</div>
      <div class="website-grid siimple-grid-col siimple-grid-col--10">TEN</div>
    </div>
    <div class="siimple-grid-row">
      <div class="website-grid siimple-grid-col siimple-grid-col--3">THREE</div>
      <div class="website-grid siimple-grid-col siimple-grid-col--9">NINE</div>
    </div>
    <div class="siimple-grid-row">
      <div class="website-grid siimple-grid-col siimple-grid-col--4">FOUR</div>
      <div class="website-grid siimple-grid-col siimple-grid-col--8">EIGHT</div>
    </div>
    <div class="siimple-grid-row">
      <div class="website-grid siimple-grid-col siimple-grid-col--5">FIVE</div>
      <div class="website-grid siimple-grid-col siimple-grid-col--7">SEVEN</div>
    </div>
    <div class="siimple-grid-row">
      <div class="website-grid siimple-grid-col siimple-grid-col--6">SIX</div>
      <div class="website-grid siimple-grid-col siimple-grid-col--6">SIX</div>
    </div>
  </div>
</div>
<!-- Grid code -->
<pre class="siimple-pre">
&lt;div class="siimple-grid"&gt;
&nbsp;&nbsp;&lt;div class="siimple-grid-row"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="siimple-grid-col siimple-grid-col--12"&gt;TWELVE&lt;/div&gt;
&nbsp;&nbsp;&lt;/div&gt;
&nbsp;&nbsp;&lt;div class="siimple-grid-row"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="siimple-grid-col siimple-grid-col--1"&gt;ONE&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="siimple-grid-col siimple-grid-col--11"&gt;ELEVEN&lt;/div&gt;
&nbsp;&nbsp;&lt;/div&gt;
&nbsp;&nbsp;&lt;div class="siimple-grid-row"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="siimple-grid-col siimple-grid-col--2"&gt;TWO&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="siimple-grid-col siimple-grid-col--10"&gt;TEN&lt;/div&gt;
&nbsp;&nbsp;&lt;/div&gt;
&lt;/div&gt;
</pre>
