<div class="siimple-h3">Typography</div>
<p class="siimple-p">
  <b>Siimple</b> provides you text styles for <a class="siimple-link">links</a> using the <code class="siimple-code">siimple-link</code>
  class, <small class="siimple-small">small text</small> using the <code class="siimple-code">siimple-small</code> class.
  <b>Siimple</b> uses <a class="siimple-a" href="https://fonts.google.com/specimen/Montserrat" target="_blank">Montserrat</a> as
  the default font family, imported from <b>Google Fonts</b>:
</p>
<pre class="siimple-pre">&lt;link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"&gt;</pre>
<!-- Paragraph -->
<div class="siimple-h5">Paragraph</div>
<p class="siimple-p">
  You can create a paragraph by adding the <code class="siimple-code">siimple-p</code> or <code class="siimple-code">siimple-paragraph</code>
  class to your <code class="siimple-code">div</code> or <code class="siimple-code">p</code> element.
</p>
<!-- Paragraph demo -->
<div class="core-example">
  <p class="siimple-p">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>
<!-- Paragraph code -->
<pre class="siimple-pre">&lt;p class="siimple-p"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing...&lt;/p&gt;</pre>
<!-- Headings -->
<div class="siimple-h5">Headings</div>
<p class="siimple-p">
  Use <code class="siimple-code">siimple-heading[X]</code> or <code class="siimple-code">siimple-h[X]</code> for each heading style,
  where [X] is a number from 1 to 6.
</p>
<div class="siimple-h1">Heading 1</div>
<pre class="siimple-pre">&lt;div class="siimple-h1"&gt;Heading 1&lt;/div&gt;</pre>
<div class="siimple-h2">Heading 2</div>
<pre class="siimple-pre">&lt;div class="siimple-h2"&gt;Heading 2&lt;/div&gt;</pre>
<div class="siimple-h3">Heading 3</div>
<pre class="siimple-pre">&lt;div class="siimple-h3"&gt;Heading 3&lt;/div&gt;</pre>
<div class="siimple-h4">Heading 4</div>
<pre class="siimple-pre">&lt;div class="siimple-h4"&gt;Heading 4&lt;/div&gt;</pre>
<div class="siimple-h5">Heading 5</div>
<pre class="siimple-pre">&lt;div class="siimple-h5"&gt;Heading 5&lt;/div&gt;</pre>
<div class="siimple-h6">Heading 6</div>
<pre class="siimple-pre">&lt;div class="siimple-h6"&gt;Heading 6&lt;/div&gt;</pre>
<!-- Blockquotes -->
<div class="siimple-h5">Blockquotes</div>
<p class="siimple-p">Use <code class="siimple-code">siimple-blockquote</code> class to style your blockquotes:</p>
<!-- Blockquotes example -->
<div class="core-example">
  <blockquote class="siimple-blockquote">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </blockquote>
</div>
<!-- Blockquote code -->
<pre class="siimple-pre">&lt;blockquote class="siimple-blockquote"&gt;Lorem ipsum dolor sit amet, consectetur...&lt;/blockquote&gt;</pre>
