<!-- Contribute -->
<div class="website-contribute" align="center">
  <!-- Contribute tite -->
  <div class="siimple-h3">Want to contribute?</div>
  <!-- Contribute explain -->
  <div class="siimple-p">
    If you found a bug, have any questions or want to contribute, please feel free to open an issue or send a pull request to our repository
    on <a href="https://github.com/siimple" class="siimple-a" target="_blank">GitHub</a>. We appreciate each review or pull request for
    improving the <b>siimple</b> library.
  </div>
  <!-- Contribute buttons -->
  <div align="center">
    <a href="https://github.com/siimple" class="siimple-btn siimple-btn--grey" target="_blank">Organization on GitHub</a>
    <a href="https://github.com/siimple/siimple/blob/master/CONTRIBUTING.md" class="siimple-btn siimple-btn--grey" target="_blank">Contribution guidelines</a>
  </div>
</div>

<!-- Footer -->
<div class="siimple-layout-footer siimple-layout-footer--grey" align="center">
  <!-- Detail -->
  <div class="siimple-p">Made with <span class="website-heart"></span> using <b>siimple</b></div>
  <!-- Cookies notice -->
  <div class="siimple-small">
    This website uses cookies to ensure you get the best experience on our website.
    By continuing to browse the site, you are agreeing to our use of cookies.
  </div>
</div>

<!-- Google analytics script -->
<script type="text/javascript" src="/js/ga.js"></script>
