<!-- Menu -->
<div class="website-menu">
  <a href="https://github.com/siimple" class="website-menu-link" target="_blank">Repository</a>
  <a href="/docs" class="website-menu-link">Documentation</a>
  <a href="/" class="website-menu-link">Home</a>
</div>
