<!-- Menu -->
<div class="website-menu">
  <a href="https://github.com/siimple" class="website-menu-link" target="_blank">Repo</a>
  <a href="/colors" class="website-menu-link">Colors</a>
  <a href="/docs" class="website-menu-link">Docs</a>
  <a href="/" class="website-menu-link">Home</a>
</div>
