<!-- Header -->
<div class="siimple-layout-header">
  <!-- Logo -->
  <a href="/" class="siimple-layout-title">siimple</a>
  <!-- Menu -->
  <div class="siimple-layout-menu">
    <a href="/docs" class="siimple-layout-menu-item">Docs</a>
    <a href="/layout" class="siimple-layout-menu-item">Layout</a>
    <a href="/colors" class="siimple-layout-menu-item">Colors</a>
    <a href="https://github.com/siimple" class="siimple-layout-menu-item" target="_blank">Repo</a>
  </div>
</div>
