<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ page.root }}assets/css/siimple.min.css">
<link rel="stylesheet" href="{{ page.root }}assets/css/main.css">
<title>{{ page.title }}</title>

{% include navbar.html %}
{{ content }}
<div class="siimple-content siimple-content--large sw-contribute" align="center">
    <div class="sw-contribute-image"></div>
    <div class="sw-contribute-title">Contributing to <strong>siimple</strong></div>
    <div class="sw-contribute-description">
        If you found a bug, have any questions or want to contribute, please feel free to open an issue or send a pull request to our repository on GitHub. 
        We appreciate each review or pull request for improving the siimple framework.
    </div>
    <div>
        <a href="{{ site.contribute_url }}" class="sw-contribute-btn" target="_blank">
            Start contributing to <strong>siimple</strong>
        </a>
    </div>
</div>
{% include footer.html %}

