<!-- Footer -->
<div class="website-footer" align="center">
  <!-- Detail -->
  Made with love using Siimple!
  <!-- Cookies notice -->
  <div class="siimple-small">
    This website uses cookies to ensure you get the best experience on our website.
    By continuing to browse the site, you are agreeing to our use of cookies.
  </div>
</div>
