<!-- Menu -->
<div class="website-menu">
  <a href="https://github.com/siimple" class="website-menu-link" target="_blank">Repository</a>
  <a href="/core/" class="website-menu-link">Core</a>
  <a href="/" class="website-menu-link">Home</a>
</div>
