//Import dependencies
@import "siimple/scss/_all.scss";
@import "siimple-colors/scss/_all.scss";

//Documentation example variables
$documentation-example-border-size: 2px;
$documentation-example-border-radius: 5px;
$documentation-example-padding: 10px;

//Documentation class
.documentation
{
  //Documentation logo
  &-logo
  {
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position: center;
  }

  //Documentation example
  &-example
  {
    display: block;
    width: calc(100% - 2 * #{$documentation-example-padding} - 2 * #{$documentation-example-border-size});
    border-radius: $documentation-example-border-radius;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border: $documentation-example-border-size solid $siimple-grey-2;
    padding: $documentation-example-padding;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  //Documentation code
  &-code
  {
    @include siimple-pre();
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-top: 0px;
    margin-bottom: 25px !important;
  }

  //Documentation improve
  &-improve
  {
    padding-top: 0px !important;

    //Rule
    &-rule
    {
      display: block;
      border-top: 1px solid $siimple-grey-2;
      margin-bottom: 25px;
    }
  }

  //Core documentation styles
  &-core
  {
    //Core logo
    &-logo { background-image: url('../images/siimple-logo.png'); }

    //Colors blocks
    &-colors
    {
      display: inline-block;
      width: 130px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
}