//Import dependencies
@import "siimple-colors/scss/_all.scss";

//Home style
.home
{
  //Projects
  &-projects
  {
    background-color: $siimple-grey-3;
    padding-top: 100px;
    padding-bottom: 90px;

    //Projects title
    &-title
    {
      display: block;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    //Projects
    &-detail
    {
      display: block;
      font-size: 18px;
      color: $siimple-navy-4;
      margin-bottom: 60px;
    }

    //Project box
    &-box
    {
      display: inline-block;
      width: 300px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      text-decoration: none;

      //Project box header
      &-header
      {
        display: block;
        color: $siimple-white;
        height: 45px;
        line-height: 45px;
        font-size: 20px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      //Project box content
      &-content
      {
        display: block;
        padding: 15px;
        background-color: $siimple-white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}