//Import dependencies
@import "siimple/scss/_all.scss";
@import "siimple-colors/scss/_all.scss";

//Gradient div
.gradient
{
  background: linear-gradient(135deg, $siimple-teal 0%,$siimple-blue 100%);
}

//Jumbotron style
.jumbotron
{
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: transparent !important;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px 500px;

  //Jumbotron text
  &-text
  {
    font-size: 140px !important;
    line-height: 150px !important;
  }
}

//Framework features
.features
{
  background-color: $siimple-teal;
  padding-top: 90px !important;
  padding-bottom: 100px !important;
  color: $siimple-white;

  //Features column
  &-col
  {
    margin-bottom: 30px;
  }

  //Features icon
  &-icon
  {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  //Features title
  &-title
  {
    color: $siimple-white;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  //Features detail
  &-detail
  {
    font-size: 16px;
    line-height: $siimple-default-text-line;
    text-align: center;
  }

  //Features start text
  &-get-started
  {
    font-size: 26px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }

  //Features buttons
  &-btn
  {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none !important;
    line-height: 24px;
    background-color: $siimple-white;
    color: $siimple-teal;
    border-radius: $siimple-default-border-radius;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover { opacity: 0.7; color: $siimple-teal; }
  }
}

//Projects section
.projects
{
  background-color: $siimple-grey-3;
  padding-top: 100px;
  padding-bottom: 90px;
  vertical-align: top;

  //Projects title
  &-title
  {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  //Projects
  &-detail
  {
    display: block;
    font-size: 18px;
    color: $siimple-navy-4;
    margin-bottom: 60px;
  }

  //Project item
  &-item
  {
    display: inline-block;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    vertical-align: top;

    //Project header
    &-header
    {
      display: block;
      height: 90px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 300px;

      //Siimple core background image
      &--siimple-core { background-image: url('/images/siimple-header.png'); }

      //Siimple colors background image
      &--siimple-colors { background-image: url('/images/siimple-colors-header.png'); }
    }

    //Project content
    &-content
    {
      display: block;
      padding: 15px;
      background-color: $siimple-white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    //Project title
    &-title
    {
      line-height: 20px;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    //Project version
    &-version
    {
      display: block;
      height: 20px;
      line-height: 20px;
      font-size: 13px;
      color: $siimple-navy-4;
      font-weight: bold;
      margin-top: 5px;
    }
  }
}
