//Import dependencies
@import "siimple/scss/_all.scss";
@import "siimple-colors/scss/_all.scss";

//Body and html default styles
body
{
  font-family: $siimple-default-text-font;
  font-size: $siimple-default-text-size;
  color: $siimple-default-text-color;
  font-weight: normal;
  margin: 0px !important;
  padding: 0px !important;
}

//Contribute style
.contribute
{
  padding-top: 100px;
  padding-bottom: 100px;

  //Contribute button
  &-btn
  {
    margin: 5px !important;
  }
}

//Footer styles
.footer
{
  padding-top: 35px !important;

  //Footer logo
  &-logo
  {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background-image: url('../images/logo-footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;

    //Logo hover
    &:hover { opacity: 1.0; }
  }

  //Footer heart
  &-heart::after
  {
    content: "\2764";
    color: var(--siimple-red);
  }

  //Footer cookies
  &-cookies
  {

  }
}
