//Import dependencies
@import "siimple/scss/_all.scss";
@import "siimple-colors/scss/_all.scss";

//Body and html default styles
body
{
  font-family: $siimple-default-text-font;
  font-size: $siimple-default-text-size;
  color: $siimple-default-text-color;
  font-weight: normal;
  margin: 0px !important;
  padding: 0px !important;
}

//Contribute style
.contribute
{
  padding-top: 100px;
  padding-bottom: 100px;

  //Contribute button
  &-btn
  {
    margin: 5px !important;
  }
}

//Footer styles
.footer
{
  padding-top: 35px !important;

  //Footer logos box
  &-logos
  {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  //Footer logo
  &-logo
  {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;

    //Logo hover
    &:hover { opacity: 1.0; }
  }

  //Footer heart
  &-heart::after
  {
    content: "\2764";
    color: var(--siimple-red);
  }

  //Footer cookies
  &-cookies
  {

  }
}

//Logos paths
.logo
{
  //Core logo
  &--siimple { background-image: url('../images/siimple/logo.png'); }

  //Colors logo
  &--siimple-colors { background-image: url('../images/siimple-colors/logo.png'); }
}

//Headers paths
.header
{
  //Siimple background image
  &--siimple { background-image: url('../images/siimple/header.png'); }

  //Siimple colors background image
  &--siimple-colors { background-image: url('../images/siimple-colors/header.png'); }
}
