{% extends "documentation.html" %}

{% block documentation_menu %}
<a href="./" class="siimple-docs-menu-group">GETTING STARTED</a>
<a href="./typography" class="siimple-docs-menu-group">TYPOGRAPHY</a>
<a href="./elements" class="siimple-docs-menu-group">ELEMENTS</a>
<a href="./elements#alert" class="siimple-docs-menu-item">Alert</a>
<a href="./elements#button" class="siimple-docs-menu-item">Button</a>
<a href="./elements#close" class="siimple-docs-menu-item">Close</a>
<a href="./elements#spinner" class="siimple-docs-menu-item">Spinner</a>
<a href="./form" class="siimple-docs-menu-group">FORM</a>
<a href="./grid" class="siimple-docs-menu-group">GRID</a>
{% endblock %}

{% block documentation_content %}
<!-- Document title -->
<title>Elements - siimple core documentation</title>

<!-- Elements introduction -->
<div class="siimple-h2">Elements</div>

<!-- Alert -->
<a name="alert"></a>
<div class="siimple-h3">Alert</div>
<p class="siimple-paragraph">
  Add <code class="siimple-code">siimple-alert</code> to transform a <code class="siimple-code">div</code> into an alert. Also,
  you can specify the alert color by adding <code class="siimple-code">siimple-alert--[COLOR]</code>.
</p>
<div class="documentation-example">
  <div class="siimple-alert siimple-alert--navy">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
  <div class="siimple-alert siimple-alert--green">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
  <div class="siimple-alert siimple-alert--teal">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
  <div class="siimple-alert siimple-alert--blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
  <div class="siimple-alert siimple-alert--purple">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
  <div class="siimple-alert siimple-alert--pink">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
  <div class="siimple-alert siimple-alert--red">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
  <div class="siimple-alert siimple-alert--orange">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
  <div class="siimple-alert siimple-alert--yellow">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
  <div class="siimple-alert siimple-alert--grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</div>
</div>
<pre class="siimple-pre">
&lt;div class="siimple-alert siimple-alert--navy"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--green"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--teal"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--blue"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--purple"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--pink"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--red"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--orange"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--yellow"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
&lt;div class="siimple-alert siimple-alert--grey"&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
</pre>
<div class="siimple-paragraph">
  You can add a <code class="siimple-code">div</code> with a <code class="siimple-code">siimple-close</code> class to display a close button.
</div>
<div class="documentation-example">
  <div class="siimple-alert siimple-alert--yellow">
    <div class="siimple-close"></div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
  </div>
</div>
<pre class="siimple-pre">
&lt;div class="siimple-alert siimple-alert--yellow"&gt;
  &lt;div class="siimple-close"&gt;&lt;/div&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit...
&lt;/div&gt;
</pre>

<!-- Button -->
<a name="button"></a>
<div class="siimple-h3">Button</div>
<div class="siimple-paragraph">
  Add <code class="siimple-code">siimple-btn</code> to create a basic button.
</div>
<div class="documentation-example" align="center">
  <div class="siimple-btn siimple-btn--navy">My button</div>
</div>
<pre class="siimple-pre">
&lt;div class="siimple-btn siimple-btn--navy"&gt;My button&lt;/div&gt;
</pre>
<div class="siimple-paragraph">
  You can set the button color by adding a <code class="siimple-code">siimple-btn--[COLOR]</code> class to the button.
</div>
<div class="documentation-example" align="center">
  <div class="siimple-btn siimple-btn--navy" style="margin-bottom:5px;">My button</div>
  <div class="siimple-btn siimple-btn--green" style="margin-bottom:5px;">My button</div>
  <div class="siimple-btn siimple-btn--teal" style="margin-bottom:5px;">My button</div>
  <div class="siimple-btn siimple-btn--blue" style="margin-bottom:5px;">My button</div>
  <div class="siimple-btn siimple-btn--purple" style="margin-bottom:5px;">My button</div>
  <div class="siimple-btn siimple-btn--pink" style="margin-bottom:5px;">My button</div>
  <div class="siimple-btn siimple-btn--red" style="margin-bottom:5px;">My button</div>
  <div class="siimple-btn siimple-btn--orange" style="margin-bottom:5px;">My button</div>
  <div class="siimple-btn siimple-btn--yellow" style="margin-bottom:5px;">My button</div>
  <div class="siimple-btn siimple-btn--grey" style="margin-bottom:5px;">My button</div>
</div>
<pre class="siimple-pre">
&lt;div class="siimple-btn siimple-btn--navy"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--green"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--teal"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--blue"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--purple"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--pink"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--red"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--orange"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--yellow"&gt;My button&lt;/div&gt;
&lt;div class="siimple-btn siimple-btn--grey"&gt;My button&lt;/div&gt;
</pre>
<div class="siimple-paragraph">
  Add <code class="siimple-code">siimple-btn--disabled</code> for disabled button style.
</div>
<div class="documentation-example" align="center">
  <div class="siimple-btn siimple-btn--disabled">My disabled button</div>
</div>
<pre class="siimple-pre">
&lt;div class="siimple-btn siimple-btn--disabled"&gt;My disabled button&lt;/div&gt;
</pre>

<!-- Spinner -->
<a name="spinner"></a>
<div class="siimple-h3">Spinner</div>
<div class="siimple-paragraph">
  Add <code class="siimple-code">siimple-spinner</code> class to create a loading indicator.
</div>
<div class="documentation-example" align="center">
  <div class="siimple-spinner siimple-spinner--navy"></div>
</div>


{% endblock %}

{% block documentation_navigation %}
<a href="./typography" class="siimple-docs-navigation-prev">Typography</a>
<a href="./form" class="siimple-docs-navigation-next">Form</a>
{% endblock %}