{% extends "documentation.html" %}

{% block documentation_menu %}
<a href="./" class="siimple-docs-menu-group">GETTING STARTED</a>
<a href="./typography" class="siimple-docs-menu-group">TYPOGRAPHY</a>
<a href="./elements" class="siimple-docs-menu-group">ELEMENTS</a>
<a href="./form" class="siimple-docs-menu-group">FORM</a>
<a href="./form#checkbox" class="siimple-docs-menu-item">Checkbox</a>
<a href="./form#input" class="siimple-docs-menu-item">Input</a>
<a href="./form#label" class="siimple-docs-menu-item">Label</a>
<a href="./form#select" class="siimple-docs-menu-item">Select</a>
<a href="./form#switch" class="siimple-docs-menu-item">Switch</a>
<a href="./form#textare" class="siimple-docs-menu-item">Textarea</a>
<a href="./grid" class="siimple-docs-menu-group">GRID</a>
{% endblock %}

{% block documentation_content %}
<!-- Document title -->
<title>Form - siimple core documentation</title>

<!-- Form section -->
<div class="siimple-h2">Form</div>

<!-- Checkbox section -->
<a name="checkbox"></a>
<div class="siimple-h3">Checkbox</div>

<!-- Input section -->
<a name="input"></a>
<div class="siimple-h3">Input</div>
<div class="siimple-paragraph">
  Add the <code class="siimple-code">siimple-input</code> class to your text-based <code class="siimple-code">input</code>
  fields (text, password and email types).
</div>
<div class="documentation-example">
  <label class="siimple-label">Your email</label>
  <input type="text" class="siimple-input" placeholder="you@company.com">
</div>
<pre class="siimple-pre">
&lt;label class="siimple-label"&gt;Your email&lt;/label&gt;
&lt;input type="text" class="siimple-input" placeholder="you@company.com"&gt;
</pre>
<div class="siimple-paragraph">
  You can set a full width input field by adding a <code class="siimple-code">siimple-input--fluid</code> class.
</div>
<div class="documentation-example">
  <input type="text" class="siimple-input siimple-input--fluid" placeholder="you@company.com">
</div>
<pre class="siimple-pre">
&lt;input type="text" class="siimple-input siimple-input--fluid"&gt;
</pre>

<!-- Label section -->
<a name="label"></a>
<div class="siimple-h3">Label</div>

<!-- Select section -->
<a name="select"></a>
<div class="siimple-h3">Select</div>

<!-- Switch section -->
<a name="switch"></a>
<div class="siimple-h3">Switch</div>

<!-- Textarea section -->
<a name="textarea"></a>
<div class="siimple-h3">Textarea</div>

{% endblock %}

{% block documentation_navigation %}
<a href="./elements" class="siimple-docs-navigation-prev">Elements</a>
<a href="./grid" class="siimple-docs-navigation-next">Grid</a>
{% endblock %}