{% extends "documentation.html" %}

{% block documentation_menu %}
<a href="./" class="siimple-docs-menu-group">GETTING STARTED</a>
<a href="./#installation" class="siimple-docs-menu-item">Installation</a>
<a href="./#browser-support" class="siimple-docs-menu-item">Browser support</a>
<a href="./typography" class="siimple-docs-menu-group">TYPOGRAPHY</a>
<a href="./elements" class="siimple-docs-menu-group">ELEMENTS</a>
<a href="./form" class="siimple-docs-menu-group">FORM</a>
<a href="./grid" class="siimple-docs-menu-group">GRID</a>
{% endblock %}

{% block documentation_content %}
<!-- Getting started block -->
<div class="siimple-h2">Getting started</div>
<p class="siimple-p">
  <b>siimple</b> is a light, responsive and open source framework for design flat and clean websites.
  It has built in SASS/SCSS and provides a clean starting point for your web design.
</p>

<!-- Installation block -->
<a name="installation"></a>
<div class="siimple-h3">Installation</div>
<p class="siimple-p">
  There are 3 ways to get started with <b>siimple</b> in your project.
</p>

<!-- Install with npm or bower -->
<div class="siimple-h5">1. Install using a package manager</div>
<p class="siimple-p">
  This is the recommended method. You can use <a href="https://www.npmjs.com/package/siimple" class="siimple-a" target="_blank">npm</a> or
  <a href="http://bower.io" class="siimple-a" target="_blank">bower</a> to download the latest version of <b>siimple</b>.
</p>
<p class="siimple-paragraph">Install using <b>npm</b>:</p>
<pre class="siimple-pre">npm install siimple --save</pre>
<p class="siimple-p">Install using <b>bower</b>: </p>
<pre class="siimple-pre">bower install siimple</pre>
<p class="siimple-p">
  You can find the release CSS files in the <code class="siimple-code">./dist/</code> folder.
</p>

<!-- Hosted description -->
<div class="siimple-h5">2. Use a hosted version</div>
<p class="siimple-p">
  You can use our hosted version in <b>JsDelivr</b>. Just copy and paste the following <code class="siimple-code">&lt;link&gt;</code> element in your HTML file:
</p>
<pre class="siimple-pre">&lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@2.1.0/dist/siimple.min.css"&gt;</pre>
<p class="siimple-p">
  You can check all available hosted versions <a href="https://www.jsdelivr.com/package/npm/siimple" class="siimple-a" target="_blank">in the jsDelivr website</a>.
</p>

<!-- Dowmload from github -->
<div class="siimple-h5">3. Download manually from the repository</div>
<p class="siimple-p">
  You can visit the repository hosted on <a href="https://github.com/siimple/siimple" class="siimple-link" target="_blank">GitHub</a> and download the
  latest version from the <a href="https://github.com/siimple/siimple/releases" class="siimple-link" target="_blank">releases page</a>.
  You can find the CSS files on the <code class="siimple-code">./dist/</code> folder, so you can copy them to your project.
</p>

<!-- Browser support -->
<a name="browser-support"></a>
<div class="siimple-h3">Browser support</div>
<p class="siimple-paragraph">
  <b>siimple</b> is supported by the latest versions of most mobile and desktop browsers.
</p>
<ul>
  <li>Chrome: <span class="siimple-color--green">supported</span></li>
  <li>Opera: <span class="siimple-color--green">supported</span></li>
  <li>Firefox: <span class="siimple-color--green">supported</span></li>
  <li>Safari: <span class="siimple-color--green">supported</span></li>
  <li>Edge: <span class="siimple-color--green">supported</span></li>
  <li>Internet Explorer: <span class="siimple-color--yellow">10+</span></li>
</ul>

{% endblock %}

{% block documentation_navigation %}
<a href="./typography" class="siimple-docs-navigation-next">Typography</a>
{% endblock %}
